<main class="container">
    <h2 blue>Nossa história</h2>

    <p text>
        Muitos podem dizer que não há motivos pra acreditar em contos de fadas, em anjos ou qualquer coisa do tipo, 
        mas, já que você está aqui, me dá uma chance (eu, Diogo, narrador aqui) de explicar melhor.</p>
    <p text>
        Como membros de A Igreja de Jesus Cristo, acreditamos em fazer o bem e compartilhar bons pricípios que acreditamos
        serem verdadeiros e importantes para nós. Isso nos levou a decidir deixar nossos lares por um tempo e servir como missionários.</p>
    <p text>
        Ela foi chamada aos 18 meses de serviço no Rio Grande do Sul (isso no meio de 2016), ele, "coincidentemente"
        para a mesma região, só que... só no ano seguinte. Não conversamos muito lá, na verdade, não era o momento de 
        desenvolver relacionamentos amorosos. Até chegamos a participar de algumas mesmas reuniões, mas, no máximo dizer 'oi'
    </p>


    <img src="../../../assets/missao.JPG" alt="Diogo e Andressa em Pelotas - RS">

    <p text>Como tudo tem seu tempo e maneira de acontecer, foi em 2019, após já estarmos de volta a nossas casas que, aconteceu de sermos
        convidados para um casamento de amigos em comum lá em Curitiba- PR. - Obrigado, família Romão! E quem estava lá também eram nosso presidente de missão 
        e sua esposa, o casal Cruz (verdadeiros anjos e os nossos cupidos nessa história).
    </p>

    <p text>Uns 3 meses depois desse evento, tomei a coragem de convidá-la pra sair, a questão era ela morar no
        interior de São Paulo, e eu no norte do Paraná, mas sério, nada que uma viagem rápida não resolvesse, não era
        tão longe assim... ;D
    </p>

    <p text>
        Não demorou nem um dia na primeira viagem para conhecer a família e poder conversar melhor com ela, afinal... né?! E antes mesmo do primeiro
        beijo, eu já tinha pedido ela em namoro. Sinceramente, eu estava nervoso, isso nunca tinha acontecido, muitas coisas passando pela cabeça.
        Mesmo eu tendo sido um pouco desajeitado, não mudaria nada da decisão que tomei.
    </p>
    <p text>
        Sabemos que a perfeição não existe aqui, mas podemos fazer um pouco melhor a cada dia para construir o nosso "Felizes para sempre".
    </p>
    <p text>Feliz um ano pra gente!</p>



</main>
