h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: black;
}

main {
    background: url("../../../assets/AeD.jpg") no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-attachment: fixed;
    min-height: 100vh; 
}

[overlay] {
    display: flex;
    width: 100%;
    min-height: inherit;
    background: #fffa;

    @media (min-width: 600px) {
        background: linear-gradient(90deg, #fffa 30%, #0000 80%);
    }
}

[left-panel] {
    width: 100%;
    max-width: 600px;
    padding: 3rem;
    align-self: center;

}

div {
    p {
        padding-inline-start: 5rem;
    }
    h3 {
        text-align: start;
        padding-inline-start: 5rem;
    }
}



span {
    font: inherit;
}