<main class="container">
    <h2 blue>Algumas Fotos</h2>

    <p text>
        Separamos algumas do nosso dia especial, espero que mate a curiosidade. Devido à época que nos casamos, tivemos que reduzir MUITO o número
        de pessoas que participaram conosco. 
    </p>

    <app-carousel></app-carousel>

    <p text>O nosso sábado foi dividido em duas partes: De manhã o casamento religioso com efeito civil, e, de tarde o casamento que realizamos no templo.
        O templo para nós tem o significado de promessas eternas, acreditamos que as famílias podem ser eternas, estamos nos esforçando com essa
    esperança e fé. </p>

    <p text>Agradecimentos especiais ao <a href="https://www.facebook.com/pages/category/Photographer/Ricardo-Alvarez-fotografia-368605426966527/" target="_blank">Ricardo</a> que nos proporcionou as fotos do nosso casamento.</p>

</main>
