<nav shadow>
        <div menu_icon (click)="toggleMenu()" shadow2 class="material-icons">
            menu
        </div>

        <div menu_mobile *ngIf=showMenu>
            <a (click)="toggleMenu()" routerLink="/"><i class="material-icons">home</i><span>início</span></a>
            <a (click)="toggleMenu()" routerLink="/story"><i class="material-icons">auto_stories</i><span>nossa história</span></a>
            <a (click)="toggleMenu()" routerLink="/pictures"><i class="material-icons">collections</i><span>fotos</span></a>
        </div>

        <div align-children-x class="nav_icons">
            <a routerLink="/"><i class="material-icons">home<span>início</span></i></a>
            <a routerLink="/story"><i class="material-icons">auto_stories<span>nossa história</span></i></a>
            <a routerLink="/pictures"><i class="material-icons">collections<span>fotos</span></i></a>
        </div>
</nav>