<nav shadow align-children-x>
    <img src="../../../assets/az.svg"/>
    <a routerLink="/"><i class="material-icons">today<span>Save the Date</span></i></a>
    <a routerLink="/abouther"><i class="material-icons">female<span>sobre ela</span></i></a>
    <a routerLink="/abouthim"><i class="material-icons">male<span>sobre ele</span></i></a>
    <a routerLink="/story"><i class="material-icons">auto_stories<span>nossa história</span></i></a>
    <a routerLink="/map"><i class="material-icons">place<span>mapa</span></i></a>
    <a routerLink="/pictures"><i class="material-icons">collections<span>fotos</span></i></a>
    <a routerLink="/gifts"><i class="material-icons">payment <span>presenteie</span></i></a>
    <a routerLink="/settings"><i class="material-icons">settings <span>ajustes</span></i></a>
</nav>